{{#> layout }}
    {{#each entryGroups}}
    <section class="box">
      <p class="subtitle">{{capitalize @key}}</p>
      <hr />
      {{#each this}}
      <section>
        <a href="{{name}}">
          <h1 class="title">{{title}}</h1>
          <p class="subtitle">{{description}}</p>
        </a>
      </section>
      {{/each}}
    </section>
    {{/each}}
{{/layout}}
